.principal
{
	width:640px;
	margin-left:0px;
}

body
{
	margin:auto;
	width:640px;
	margin-bottom:2em;
}

nav ul li a
{
	width:85px;
}

aside h1
{
	display:fixed;
	position:relative;
	top:0px;
	left:0px;
}

aside 
{ 
    display:none;
}

a:hover
{
	transform: rotate(180de);
}

footer
{
	max-width:640px;
}

footer:hover
{
	max-width:640px;
}