.principal
{
	width:640px;
	margin-left:0px;
}

.mainPage
{
	/*new*/background: url(../ressources/newbgbybibi640.png);
	background-repeat: no-repeat;
	min-height: 10%;
}

.gauche
{
	position: absolute;	top: 0px;
}

body
{
	margin:auto;
	width:640px;
	margin-bottom:2em;
}

nav ul li a
{
	width:85px;
}

aside
{
	margin: 0px;
	padding: 0px;
	
	background-color: transparent;
	border: none;
	
	height: 100px;
}

aside figure, aside p
{
	display: none;
}

aside h1
{
	margin-top: auto;	margin-bottom: auto;	margin-bottom: 2px;
	padding: 0px;
}

footer
{
	max-width:640px;
}

footer:hover
{
	max-width:640px;
}