.principal
{
	width:auto;
	margin-left:0px;
}

body
{
	margin:auto;
	width: auto;
	margin-bottom:2em;
}

aside 
{ 
    display:none;
}

nav
{
	
}

.arround
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	float:none;
}