html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:"Arial", Helvetica, sans-serif  ;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************
										*
	Nous commencons ici	   				*
										*
*****************************************/

.principal
{
	width:1080px;
	margin-left:200px;
}

.gauche
{
	width:140px;
	position:fixed;	top:100px;
	margin-left:30px;	margin-right:30px;
}

nav a
{
	font-size:24px;
	text-decoration:none;
	font-weight:bold;
	color:black;

	background-image:linear-gradient(white,#47A3FF);
	box-shadow:5px 5px 8px #3F4247;
	
	border:1px solid black;
	padding:5px;
}

nav a:hover
{
	background-image:linear-gradient(white, #A2D1FF);
}

header
{
	height:auto;
}

footer
{
	position: fixed;
	bottom: 0px;
	height:2em;
	
	text-align:center;
	
	transition-properties: background-color, height;
	transition-duration: 0s, 2s;
}

.hideout
{
	color:black;
	border:1px, solid, black;
	border-radius:7px;
}

footer:hover
{
	footer p > color:white;
	
	height:4em;
	background-image:linear-gradient(white, blue);
	
	border-radius:10px;
	
	transition-duration:2s;
}

aside
{
	border:1px solid black;
	border-radius:10px;
	width:140px;
	height:300px;
	
	background-color:#7EBFFF;
	color:white;
	
	padding:5px;
	text-align:justify;
}

body
{
	background-color:#FFFFEB;
	margin:auto;
	width:1280px;
}

.logo
{
	position:absolute;
	bottom:0px;
	right:10px;
	
	width:140px;
	height:auto;
}

.illustration
{
	float: left;
	height: 100px;
	width: 100px;
}

#titre
{
	/*position:relative;*/
	margin:25px;

	color:white;
	font-size:48px;
	text-align:center;
	text-shadow: 5px 5px 8px #3F4247;
	
	height:auto;
	
	background-image:radial-gradient(circle,#47A3FF, white);
	border: 0px solid black;
	border-radius:12px;
}

p
{
	margin-top:10px;
	/*border:1px solid black;*/
	
	padding-left:5px;	padding-right:5px;
	text-align:justify;
}

img
{
	width:100px;
	height:100px;
}

h1
{
	height:20px;
	width:auto;
	color:red;
	font-size:20px;
	background:transparent url(resources/tab.png) 0 0 no-repeat;
}

article
{
	margin-top:20px;
}

figcaption
{
	color:red;	
}