.principal
{
	width:537px;
	height: auto;
	margin-top: -37px;
	margin-left: 52px;
}

.mainPage
{
	background: url(../ressources/newbg640.png);
	background-repeat: no-repeat;
	height: 982px;
	min-height: 100%
}

.gauche
{
	position: absolute;	top: -25px;
}

body
{
	width:640px;
	margin-bottom:2em;
}

nav ul li a
{
	width: 120px;
}

aside
{
	margin: 0px;
	padding: 0px;
	
	background-color: transparent;
	border: none;
	
	height: 100px;
}

aside figure, aside p
{
	display: none;
}

aside h1
{
	margin-top: auto;	margin-bottom: auto;	margin-bottom: 2px;
	padding: 0px;
	color: white;
}

footer
{
	max-width:640px;
}

footer:hover
{
	max-width:640px;
}

#titre
{
	margin-left: 50px;
}

.hide
{
	display:none;
}