html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font-family:"Arial", Helvetica, sans-serif  ;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************
*							*
*	Definition des styles	*
*							*
*****************************/

html
{
	min-height: 100%;
}

.principal
{
	width: 859px;
	height: auto;
	margin-left: 342px;
	
	background-color: rgba(255, 255, 255, 0.5);
	background-size: 100% 100%;
}

body
{
	background-image: linear-gradient(#3fbdbd, white);
	
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center;
	
	margin: auto;
	margin-bottom: 0px;
	
	width: 1280px;
	min-height: 100%;
	height: 100%;
}

.mainPage
{
	background-image: url(../ressources/newbg.png);
	background-repeat: no-repeat;
	height: 982px;
	min-height: 100%;
}

nav{	
	height: 2em;
}

nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

nav li {
	margin-right: 0px;
	float: left;
}

nav ul li a {
	display: inline;
	float: left;
	width: 200px;
	padding: 5px;
	background-image: linear-gradient(#222222,#3fbdbd);

	line-height: 2em;

	color: #222222;
	font-weight: bold;
	font-size: 105%;
	text-decoration: none;
	text-align: center;

	/*Effet 3d*/
	border: 2px solid;
	border-color: #DCDCDC #696969 #696969 #DCDCDC;
}

nav ul li a:hover {
	background-image: linear-gradient(white, #A2D1FF);

	/* Modification de l'effet de bordures */
	border-color: #696969 #DCDCDC #DCDCDC #696969;
}

header
{
	height: 234px;
}

footer
{
	position: fixed;
	bottom: 0px;
	height: 2em;
	width: 100%;
	max-width: 1280px;
	
	background-color: rgba(255, 255, 255, 0.7);
	transition-duration: 2s;
}

footer:hover
{
	height: 6em;
	background-color: rgba(255, 255, 255, 1);
	background-image: linear-gradient(white, lightblue);

	max-width: 1280px;
	
	transition-duration: 1s, 2s;
}

aside
{
	width: 226px;
	height: 420px;
	position: absolute;
	top: 240px;
	margin-left: 88px;
	/*margin-top: 240px;*/

	border: 5px solid black;
	border-color: #DCDCDC #696969 #696969 #DCDCDC;
	border-radius: 30px;

	background-color: #3fbdbd;
	color: white;

	padding: 5px;
	padding-top: 0px;
	text-align: center;
}

aside section
{
	display: inline;
	margin-top: 1em;
	margin-bottom: 0px;
}

aside h1
{
	margin-top: 1em;
	color: white;
}

aside p
{
	text-align: center;
}

aside button
{
	width: 120px;
}

aside input
{
	width: 200px;
}

.float
{
	position: fixed;
	top: 5px;
}

section
{
	/* Pour ne pas cacher ce qui serait tout en bas de la page
	 * a cause du footer
	 */
	margin-bottom: 2em;
}
	
.logo
{
	text-align: center;

	width: 100px;
	height: auto;
	
	opacity: 1;
	
	transition-duration: 1s;
}

.logo:hover
{
	opacity: 0.2;
	transition-duration: 1s;
}

.illustration
{
	float: left;
	height: 100px;
	width: 100px;
}

section ul
{
	margin-left: 40px;
}

section ul li
{
	list-style-type: circle;
}

p
{
	margin-top: 10px;
	padding-left: 5px;	padding-right: 5px;
	
	text-align: justify;
}

em
{
	font-style: italic;
	color: #0065AD;
}

strong
{
	font-weight: bold;
	color: #0065AD;
}

figure
{
	margin-right: 10px;
}

img
{
	width: 200px;
	height: auto;
}

article h1
{
	height: 40px;
	width: auto;
	
	margin: 10px;
	padding-left: 32px;
	
	color: black;
	text-shadow: 0px 0px 8px #3fbdbd;
	font-size: 120%;
	line-height: 40px;
	
	background-image: linear-gradient(to right, #000000,#3fbdbd 50%,rgba(255,255,255,0.5));
	border-radius: 10px 30px;
	box-shadow: 8px 8px 5px #444444;
	vertical-align: middle;
}

article h1 strong
{
	text-shadow: none;
}

article
{
	padding-top: 20px;
}

article p
{
	text-indent: 2em;
	margin: 5px;
	margin-top: 20px;
}

.arround
{
	float: right;
	top: 0px;
	margin-left: 10px;
	margin-top: 15px;
	width : 200px;
}

figcaption
{
	position: relative;
	top : 0px;
	
	text-align: center;
	font-style: oblique;
	font-size: 90%;
	color: #47A3FF;	
}

table
{
	border-collapse:collapse;
	width: auto;
	margin-top: 15px;	margin-bottom: 15px;
	margin-left: auto;	margin-right: auto;
	
	color: gray;
}

table, th, td
{
	text-align:center;
	border: 1px solid black;
}

table th
{
	padding:5px;
	padding-left:15px;
	padding-right:15px;
}

table td
{
	padding:1px;
}

tr:nth-child(odd)
{
	background: #1F1F1F;
}

tr:nth-child(even)
{
	background: #0F0F0F;
}

#titre
{
	height: 185px;
	width: 100%;
	
	margin-left: 125px;
	
	color: white;
	font-size: 100px;
	line-height: 185px;
	text-align: center;
	
	vertical-align: central;
	text-shadow: 5px 5px 8px gray;
	/*background-color: #47A3FF;*/
	border: 0px solid black;
	/*border-bottom-left-radius:12px;	border-bottom-right-radius: 12px;*/
}

#info
{
	text-align: center;
	font-weight: bold;
}

.formulaire
{
	height: 1em;
	width: auto;
}